:root {
    --primary-color: rgb(226, 223, 223);
    --secondary-color: #1c8188;
    --tertiary-color: black;
    --quaternary-color: rgb(218, 214, 214);
    --quinary-color: #24b7c2;
    --senary-color: black;
    --septenary-color: #43aa8b;
    --octonary-color: white;
    --nonary-color: #b9b5b1;
    --denary-color: #277da1;
}

.main {
    width: 100%;

    .secTitle {
        .title {
            position: relative;
            width: max-content;
            color: var(--secondary-color);
            margin: 1rem 0;
            z-index: 2;

            &::after {
                position: absolute;
                content: "";
                background: var(--nonary-color);
                height: 5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;
            }
        }
    }

    .secContent {
        justify-content: center;
        gap: 1.5rem;

        .singleDestination {
            height: 100%;
            display: grid;
            row-gap: 10px;
            border-radius: 10px;
            align-items: center;
            background: var(--primary-color);
            box-shadow: 0 2px 4px rgb(140, 140, 141, 0.549);
            overflow: hidden;

            &:hover {
                background: var(--octonary-color);
                box-shadow: 1 4px 4px rgb(85, 85, 114, 0.549);
                transition: 0.2s ease;
            }

            .imageDiv {
                height: 100%;
                width: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;
                }

                &:hover{
                    img{
                        transform: scale(1.4);
                    }
                }
            }

            .cardInfo{
                padding: 1rem;

                .destTitle{
                    color: var(--senary-color);
                    font-size: 1.25rem;
                }

                .continent{
                    gap: .5rem;

                    .icon{
                        color: var(--tertiary-color);
                        font-size: 18px;
                    }

                    .name{
                        color: var(--tertiary-color);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

                .fees{
                    width: 100%;
                    justify-content: space-between;
                    padding: 1rem;
                    margin: 1rem 0;
                    border-top: 1.5px solid var(--secondary-color);
                    border-bottom:1.5px solid var(--secondary-color);

                    .grade{
                        color: var(--tertiary-color);
                        max-width: 100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small{
                            text-align: center;
                            background: var(--denary-color);
                            border-radius: 1rem;
                            color: var(--octonary-color);
                            padding: 0 10px;
                            font-size: 10px;
                        }
                    }

                    .price{
                        font-size: 2rem;
                        color: var(--tertiary-color);
                    }
                }

                .desc{
                    font-size: 13.5px;
                    color: var(--tertiary-color);
                    font-weight: 500;
                }

                .btn{
                    margin-top: 1rem;
                    color: var(--octonary-color);
                    font-weight: 600;
                    justify-content: space-between;
                    gap: 2rem;

                    .icon{
                        align-self: center;
                        font-size: 20px;
                    }

                }
            }
        }
    }
}

@media screen and (min-width:500px){
    .title{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }

    .secContent{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }
    }
}

@media screen and (min-width:840px){
    .secContent{
        grid-template-columns: repeat(3,1fr);

        .singleDestination{
            height: auto;
        }
    }
}