@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playwrite AU SA', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4rem 0 2rem; 
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    background-color: var(--quinary-color);
    border-radius: 3rem ;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a {
    color: var(--tertiary-color);
    font-weight: 500;
}

.btn:hover{
    background-color: var(--secondary-color);
}

img, video {
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}

body {
    background-color: var(--body-color);
}

@media screen and (min-width:1240px){
    .container{
        width: 80% !important;
        margin: auto !important;
    }

    .section{
        padding: 6rem 0 4rem;
    }
}

@media screen and (min-width:2560px){
    body{
        transform: scale(1.7);
    }
}